<!DOCTYPE html>
<html>
  <head>
    <title>Music App</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Tangerine">
    <style>
      body {
        font-family: 'Tangerine', serif;
        font-size: 36px;
      }
    </style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', 
      media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if current_user %>
      <h1><p>Logged in as: </p><%= current_user.user_name %></h1>
    <%end%>

    <%= yield %>
  </body>
</html>
